body {
    background-color:white;
    font-family: monospace;
}

.nav {
    display: flex;
    flex-flow: row wrap;
    color: black;
    justify-content: space-between;
    font-size: 16px;
    padding: 10px;
    flex-basis: auto;
    margin-bottom: 100px;
}

.score {
    text-decoration: none;
    color: black;
    text-decoration: underline;
}


.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 32px;
    text-align: center;
    color:sandybrown;
    text-shadow: 0 0 3px orange;
    margin: 4px 15%;
    padding: 5px;
    border: 5px double orangered;
    border-radius: 10px;
}

.paragraph {
    text-align: center;
    font-size: 20px;
    color: black;
    margin: 4px 15%;
    max-width: 70%;
    padding: 10px;
    border: 5px dotted wheat;
    border-radius: 10px;
}


.button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.mainButton {
    font-size: 16px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-color: orange;
    font-family: monospace;
}

.mainButton a {
    text-decoration: none;
    color: white;
}

.mainButton:hover {
    opacity: 70%;
}

.HS {
    margin-top: 136px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clearHS {
    font-size: 16px;
    color: white;
    border-radius: 10px;
    background-color: orange;
    font-family: monospace;
    margin-left: 3px;
}